<html lang="en" data-theme="light">
{% include 'components/metadata.njk' %}

<body>
<div class="wrapper">
{% include 'components/header.njk' %}
  {{ content | safe }}
      <script type="text/javascript" src="/js/gibberish.js"></script>
  <footer class="F">© <script>document.write(new Date().getFullYear());</script> ZACKO</footer>
</div>
</body>
</html>