  <head>
    <!-- CSS & JS for Fancybox.
    DO NOT MOVE THESE SOMEWHERE
    ELSE OR CHANGE THEIR ORDER
    WITHIN THE METADATA, OR
    ELSE FANCYBOX WILL NOT
    WORK!-->
    <script src="https://cdn.userway.org/widget.js" data-account="nlHgHNNKXx"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>                                             <!-- CSS for Fancybox 1/2 via CDN -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"/>  <!-- CSS for Fancybox 2/2 via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>      <!-- JS for Fancybox via CDN -->
    <!-- General Metadata info -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Zacko</title>
    <link rel="shortcut icon" href="/media/banana.ico"/> <!-- Icon of your website -->
    <link rel="stylesheet" href="/css/style.css" /> <!-- Default CSS for website -->
    <!-- JS from Font Awesome via CDN -->
    <script src="https://kit.fontawesome.com/dae3778132.js" crossorigin="anonymous"></script>
    <!-- Metadata for Discord links -->
    {% block DiscordMetadata %}{% endblock %}
  </head>